# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Dataset
data/creditcard.csv

# SQLite database
database/trustledger.db
*.db



# Node
frontend/node_modules/
frontend/dist/

# Environment files
.env
.env.*

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log